<p class="summ-of-contributions">{{summOfContributions}} contributions in the last year</p>
<div class="container">
  <div class="months">
    <ng-container *ngFor="let month of getReversedMonths()">
      <span>{{month}}</span>
    </ng-container>

  </div>

  <div class="heatmap-days-container">
    <div class="days">
      <span>
        Mon
      </span>

      <span>
        Wed
      </span>

      <span>
        Fri
      </span>

    </div>
    <div class="heatmap" >
      <ng-container *ngIf="days"></ng-container>
      <ng-container *ngFor="let day of days">
        <div 
          [style.background-color]="getColor(day.amountOfCommits)"
          matTooltip="{{day.date | date:'fullDate'}} commits: {{day.amountOfCommits}}"
        >
        </div>
      </ng-container>
    </div>    
  </div>
  
  <div class="trivia">
    <a 
    href="https://docs.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile" 
    class="learn-link"
    >
      Learn how we count contributions</a>
    <div class="legend-container">
      Less
        <div class="legend">
          <div [style.background-color]="colorNoActivity"></div>          
          <div [style.background-color]="colorLowActivity"></div>         
          <div [style.background-color]="colorMediumActivity"></div>         
          <div [style.background-color]="colorHighActivity"></div>         
          <div [style.background-color]="colorMaxActivity"></div>         
        </div>
      More
    </div>
  </div>
</div>
