<div class="container">
  <div class="months">
    <span>Jan</span>
    <span>Feb</span>
    <span>Mar</span>
    <span>Apr</span>
    <span>May</span>
    <span>Jun</span>
    <span>Jul</span>
    <span>Aug</span>
    <span>Sep</span>
    <span>Oct</span>
    <span>Nov</span>
    <span>Dec</span>
  </div>

  <div class="heatmap-days-container">
    <div class="days">
      <span>
        Mon
      </span>

      <span>
        Wed
      </span>

      <span>
        Fri
      </span>

    </div>
    <div class="heatmap" >
      <ng-container *ngIf="days"></ng-container>
      <ng-container *ngFor="let day of days">
        <div [style.background-color]="getColor(day.amountOfCommits)"></div>
      </ng-container>
    </div>    
  </div>
  
  <div class="trivia">
    <a 
    href="https://docs.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile" 
    class="learn-link"
    >
      Learn how we count contributions</a>
    <div class="legend-container">
      Less
        <div class="legend">
          <div [style.background-color]="'#ebedf0'"></div>          
          <div [style.background-color]="'#9be9a8'"></div>         
          <div [style.background-color]="'#40c463'"></div>         
          <div [style.background-color]="'#30a14e'"></div>         
          <div [style.background-color]="'#216e39'"></div>         

        </div>
      More
    </div>
  </div>
</div>
