.container {
  /*
  display: flex;
  flex-wrap: wrap;
*/
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

  --width-of-component: 1200px;
  width: var(--width-of-component);
  min-width: var(--width-of-component);
  height: calc(var(--width-of-component) / 4.5);
  gap: calc(var(--width-of-component) * 0.003);
  background: white;
  box-sizing: border-box;
  border: solid calc(var(--width-of-component) * 0.003) #ddd;
  border-radius: calc(var(--width-of-component) * 0.006);
  overflow: auto;
  max-width: 100%;
  color: #333;
}

.months {
  height: 21%;
  width: 87%;
  margin-right: 5%;
  margin-left: 8%;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.months span {
  --sizeOfText: calc(var(--width-of-component) * 0.014);
  font-size: var(--sizeOfText);
  line-height: var(--sizeOfText);
  vertical-align: bottom;
  height: fit-content;
  align-self: flex-end;
  padding-bottom: 1rem;
}

.heatmap-days-container {
  width: 95%;
  height: 52%;
  margin-right: 5%;

  display: flex;
  flex-wrap: wrap;
}

.days {
  width: 8%;
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.days span {
  --sizeOfText: calc(var(--width-of-component) * 0.012);
  margin-left: 50%;
  font-size: var(--sizeOfText);
  line-height: var(--sizeOfText);
}

.heatmap {
  height: 100%;
  width: 92%;
  min-width: 92%;

  display: grid;
  gap: 3px;
  grid-template-columns: repeat(53, 1fr);
  grid-template-rows: repeat(7, 1fr);

  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.heatmap div {
  width: 100%;
  height: 100%;

  align-self: center;
}

/* ****************************** Trvia block ****************************** */
.trivia {
  width: 100%;
  height: 27%;
  display: flex;

  --sizeOfText: calc(var(--width-of-component) * 0.017);
}

.learn-link {
  font-size: var(--sizeOfText);
  line-height: var(--sizeOfText);
  letter-spacing: -0.5px;
  text-decoration: none;
  align-self: center;
  margin-left: 5%;
}

.legend-container {
  font-size: var(--sizeOfText);
  line-height: var(--sizeOfText);
  text-decoration: none;
  align-self: center;
  margin: auto;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
}

.legend {
  width: calc(var(--width-of-component) * 0.11);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: calc(var(--width-of-component) * 0.005);
  justify-content: space-between;
  margin: 0 3%;
}
